.booking {
  float: right;
  width: 280px;
  color: #fff;
  &__title {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
  }
  &__form {
    text-align: center;
    label {
      margin: 0 10px;
    }
  }
  &__submit {
    display: block;
    border: none;
    text-align: center;
    margin: 20px auto;
    background: #603d17;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
  }
  @media only screen
    and (min-width: 340px)
    and (max-width: 635px) {
      float: none;
      text-align: center;
      width: 100%;
      overflow: hidden;
      margin: 20px 0;
  }
}
