.bottom {
  margin: 0 auto;
  width: 70%;
  overflow: hidden;
  @media only screen
    and (min-width: 340px)
    and (max-width: 635px) {
      float: none;
      width: 90%;
      overflow: hidden;
      margin: 20px 0;
  }

}
.contact {
  &__title {
    color: #603d17;
    text-transform: uppercase;
  }
  border-right: 2px solid #603d17;
  width: 49%;
  float: left;
}
.social {
  text-align: right;
  &__title {
    color: #603d17;
    text-transform: uppercase;
  }
  width: 49%;
  float: right;
}
