body {
  background: #fff url('../img/background.jpg') no-repeat center center;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  color: #333;
}
.site {
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}
.featured {
  overflow: hidden;
  padding: 30px;
  background: #956128;
}
.headline {
  float: left;
  max-width: 620px;
  img {
    max-width: 100%;
    width: 100%;
  }
}
.site-footer {
  background: #603d17;
  padding: 2px 0;;
  color: #fff;
  text-align: center;
}
.carousel {
  margin-top: 15px;
  margin-left: 12px;
}
#now-showing {
  position: relative;
}
.prevControl,
.nextControl {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  z-index: 1;
}
.prevControl {
  left: -25px!important;
}
.nextControl {
  right: -25px!important;
}

.option-select,
.option-date{
  width: 100%;
  margin: 5px 0;
  background: #fff;
  color: black;
  border-radius: 0;
  -webkit-appearance: none;
  border: none;
  padding: 5px;
}
.flex-prev {
  background: url('../img/nav-left.png') no-repeat;
  text-indent: -9999em;
  width: 35px;
  height: 35px;
  left: 0;
}
.flex-next {
  background: url('../img/nav-right.png') no-repeat;
  text-indent: -9999em;
  width: 35px;
  height: 35px;
  right: 0!important;
  text-align: none!important;
}
@media only screen
  and (min-width: 340px)
  and (max-width: 635px) {
  .site-header__branding-title {
    text-align: center;
  }
}

@media only screen
  and (min-width: 340px)
  and (max-width: 979px) {
  .headline {
    max-width: 100%;
    width: 100%;
    float: none;
  }
  .booking {
    width: 100%;
    text-align: center;
  }

}
