.site-header {
  overflow: hidden;
  &__branding {
    float: left;
    @media only screen
      and (min-width: 340px)
      and (max-width: 635px) {
      display: block;
      float: none;
      width: 100%;
    }
  }
  &__title {
  }
}
