.site-navigation {
  float: right;
  width: 385px;
  margin-top: 100px;
  &__container {
    list-style: none;
    margin: 0;
    padding: 0;
    @media only screen
      and (min-width: 340px)
      and (max-width: 635px) {
        text-align: center;
    }

  }
  &__item {
    float: left;
    margin-left: 50px;
    &.active {
      a {
        border-bottom: 2px solid #623e19;
      }
    }
    @media only screen
      and (min-width: 340px)
      and (max-width: 635px) {
        float: none;
        display: inline-block;
    }

  }
  &__item-link {
    color: #222;
    text-transform: uppercase;
    text-decoration: none;
  }

  @media only screen
    and (min-width: 340px)
    and (max-width: 635px) {
      float: none;
      width: 100%;
      overflow: hidden;
      margin: 20px 0;
  }
}
