.tab {
  &__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid #956128;
  }
  &__nav-list {
    float: left;
    &.active {
      a {
        background: #956128;
        color: #fff;
      }
    }
  }
  &__nav-list-link {
    display: block;
    padding: 10px 30px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    color: #727272;
    border-radius: 3px 3px 0 0;
  }
}
